<template>
  <MdViewer :url="url"/>
</template>

<script>
  import MdViewer from '@/components/MdViewer.vue'

  export default {
    data: () => ({
      url: 'https://raw.githubusercontent.com/vue-json-schema/form-schema/develop/README.md'
    }),
    components: { MdViewer }
  }
</script>
